In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd 
s=pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s=pd.Series([100,200,300],index=['A','B','C'])
print(s)
print(s['B'])    #200

A    100
B    200
C    300
dtype: int64
200

In [34]:
data={'Name':['Arya','Ravi','Meet'],
     'Marks':[85,52,45,]}
df=pd.DataFrame(data)
print(df)

   Name  Marks
0  Arya     85
1  Ravi     52
2  Meet     45

In [19]:
df.to_csv('output.csv',index=False)     #convert above dataframe in csv file

In [48]:
df=pd.read_csv("C:/Users/ITCS/Downloads/recharge_data.csv")
print(df)

    CustomerID   Name   Region     City      Plan  Amount  MonthlyUsage  \
0        101.0   Arya     Pune     Pune   Prepaid   250.0         320.0
1        102.0   Ravi    Delhi    Delhi  Postpaid   600.0         450.0
2        103.0  Meera   Mumbai   Mumbai   Prepaid   150.0         210.0
3        104.0  Kiran  Chennai  Chennai  Postpaid   450.0         500.0
4        105.0   Lina     Pune     Pune   Prepaid   300.0         330.0
5        106.0  Soham    Delhi    Delhi   Prepaid   200.0         180.0
6        107.0   Riya  Kolkata  Kolkata  Postpaid   500.0         400.0
7        108.0  Rohan   Mumbai   Mumbai  Postpaid   400.0         390.0
8          NaN    NaN      NaN      NaN       NaN     NaN           NaN
9          NaN    NaN      NaN      NaN       NaN     NaN           NaN
10         NaN    NaN      NaN      NaN       NaN     NaN           NaN
11         NaN    NaN      NaN      NaN       NaN     NaN           NaN
12         NaN    NaN      NaN      NaN       NaN     NaN           NaN
13         NaN    NaN      NaN      NaN       NaN     NaN           NaN
14         NaN    NaN      NaN      NaN       NaN     NaN           NaN
15         NaN    NaN      NaN      NaN       NaN     NaN           NaN
16         NaN    NaN      NaN      NaN       NaN     NaN           NaN
17         NaN    NaN      NaN      NaN       NaN     NaN           NaN
18         NaN    NaN      NaN      NaN       NaN     NaN           NaN

   Complaints Recharged  Marks Grade  Days_Since_Last_Recharge  \
0         Yes       Yes   85.0     A                      12.0
1          No       Yes   92.0    A+                       8.0
2          No        No   78.0     B                      45.0
3         Yes       Yes   88.0     A                       3.0
4          No       Yes   90.0    A+                      14.0
5          No        No   76.0     B                      33.0
6         Yes       Yes   82.0     A                       5.0
7          No       Yes   87.0     A                      25.0
8         NaN       NaN    NaN   NaN                       NaN
9         NaN       NaN    NaN   NaN                       NaN
10        NaN       NaN    NaN   NaN                       NaN
11        NaN       NaN    NaN   NaN                       NaN
12        NaN       NaN    NaN   NaN                       NaN
13        NaN       NaN    NaN   NaN                       NaN
14        NaN       NaN    NaN   NaN                       NaN
15        NaN       NaN    NaN   NaN                       NaN
16        NaN       NaN    NaN   NaN                       NaN
17        NaN       NaN    NaN   NaN                       NaN
18        NaN       NaN    NaN   NaN                       NaN

     Complaint_Type
0     Network Issue
1   Recharge Failed
2     Slow Internet
3   SIM Not Working
4     Network Issue
5     Billing Error
6     Network Issue
7     Slow Internet
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18              NaN

In [12]:
df.head()

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
2,103.0,Meera,Mumbai,Mumbai,Prepaid,150.0,210.0,No,No,78.0,B,45.0,Slow Internet
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue

In [13]:
df.tail(3)

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.shape

(19, 13)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                8 non-null      float64
 1   Name                      8 non-null      object
 2   Region                    8 non-null      object
 3   City                      8 non-null      object
 4   Plan                      8 non-null      object
 5   Amount                    8 non-null      float64
 6   MonthlyUsage              8 non-null      float64
 7   Complaints                8 non-null      object
 8   Recharged                 8 non-null      object
 9   Marks                     8 non-null      float64
 10  Grade                     8 non-null      object
 11  Days_Since_Last_Recharge  8 non-null      float64
 12  Complaint_Type            8 non-null      object
dtypes: float64(5), object(8)
memory usage: 2.1+ KB

In [16]:
df.describe()

,CustomerID,Amount,MonthlyUsage,Marks,Days_Since_Last_Recharge
count,8.00000,8.000000,8.000000,8.000000,8.000000
mean,104.50000,356.250000,347.500000,84.750000,18.125000
std,2.44949,156.838179,111.066261,5.675763,14.875075
min,101.00000,150.000000,180.000000,76.000000,3.000000
25%,102.75000,237.500000,292.500000,81.000000,7.250000
50%,104.50000,350.000000,360.000000,86.000000,13.000000
75%,106.25000,462.500000,412.500000,88.500000,27.000000
max,108.00000,600.000000,500.000000,92.000000,45.000000

In [28]:
df['Name']         #single column

0      Arya
1      Ravi
2     Meera
3     Kiran
4      Lina
5     Soham
6      Riya
7     Rohan
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
Name: Name, dtype: object

In [29]:
df.loc[1]              #row by label

CustomerID                            102.0
Name                                   Ravi
Region                                Delhi
City                                  Delhi
Plan                               Postpaid
Amount                                600.0
MonthlyUsage                          450.0
Complaints                               No
Recharged                               Yes
Marks                                  92.0
Grade                                    A+
Days_Since_Last_Recharge                8.0
Complaint_Type              Recharge Failed
Name: 1, dtype: object

In [30]:
df.iloc[0:2]            #position 0 to 1

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed

In [31]:
df[['Name','City']]

     Name     City
0    Arya     Pune
1    Ravi    Delhi
2   Meera   Mumbai
3   Kiran  Chennai
4    Lina     Pune
5   Soham    Delhi
6    Riya  Kolkata
7   Rohan   Mumbai
8     NaN      NaN
9     NaN      NaN
10    NaN      NaN
11    NaN      NaN
12    NaN      NaN
13    NaN      NaN
14    NaN      NaN
15    NaN      NaN
16    NaN      NaN
17    NaN      NaN
18    NaN      NaN

In [32]:
df[df['Amount']>200]

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue
6,107.0,Riya,Kolkata,Kolkata,Postpaid,500.0,400.0,Yes,Yes,82.0,A,5.0,Network Issue
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet

In [33]:
df[(df['City']=='Pune')&(df['Amount']>250)]

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue

In [41]:
df1=df.copy()
df1['Grades']=(['A','A+','B'])           #adding new column
df1

   Name  Marks Grades
0  Arya     85      A
1  Ravi     52     A+
2  Meet     45      B

In [42]:
del df1['Grades']                 #delete the column
df1

   Name  Marks
0  Arya     85
1  Ravi     52
2  Meet     45

In [45]:
df.rename(columns={'Marks':'Score'},inplace=True)     #rename the column
df

   Name  Score
0  Arya     85
1  Ravi     52
2  Meet     45

In [47]:
df.sort_values(by='Score',ascending=True)       #sorting data

   Name  Score
2  Meet     45
1  Ravi     52
0  Arya     85

In [49]:
#handling missing data
df.isnull()

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,True,True

In [55]:
df.fillna(0,inplace=True)        #fill NAN rows with 0
df

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
2,103.0,Meera,Mumbai,Mumbai,Prepaid,150.0,210.0,No,No,78.0,B,45.0,Slow Internet
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue
5,106.0,Soham,Delhi,Delhi,Prepaid,200.0,180.0,No,No,76.0,B,33.0,Billing Error
6,107.0,Riya,Kolkata,Kolkata,Postpaid,500.0,400.0,Yes,Yes,82.0,A,5.0,Network Issue
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet

In [56]:
df

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
2,103.0,Meera,Mumbai,Mumbai,Prepaid,150.0,210.0,No,No,78.0,B,45.0,Slow Internet
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue
5,106.0,Soham,Delhi,Delhi,Prepaid,200.0,180.0,No,No,76.0,B,33.0,Billing Error
6,107.0,Riya,Kolkata,Kolkata,Postpaid,500.0,400.0,Yes,Yes,82.0,A,5.0,Network Issue
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet